* {
  margin: 0;
  padding: 0; }

.bodyHome {
  background-color: #ad1414; }

.logo__redes {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.instagram {
  width: 50px; }

.linkedin {
  width: 50px; }

.barraNavegador {
  background-color: #a1a19e; }

.logocolegaonlineav {
  width: 100%; }

body {
  background-color: #FFE1D0; }
