.body{
    background-color: map-get($colores, color-principal);
}
.gridDos {
    display: grid;
    flex-direction: column;
}

.gridDos {
    text-align: center;
    background-position: row;
}
.carousel-item{
    height: 350px;
    width: 100%;
}
.carousel-item img{
    height: 350px;
    width: 100%;
    object-fit:contain;
}
.logocolega {
    width: 260px;
    border: solid #363D46;
    transition: all 2s;
}

.logocolega:hover {
    transform: scale(1.1);
}
.Boton {
    background-color: aquamarine;
    width: fit-content;
    border: solid 8px  gray;
    border-radius: 6px;
    padding: 0 20px;
    margin: 30px auto;
}
.logocolegaonlineav {
    width: 100%;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1 {
    color: #363D46;
}

.primerParrafo {
    color: black
}

#segundo {
    color: purple
}
.boton a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.border a {
    border: solid 3px;
}
.textoIndex {
    width: 50%;
    border: solid 1px black;

}