.logo__redes {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram {
    width: 50px;
    /* margin-left: 50%; */
}

.linkedin {
    width: 50px;
    /*margin-left: 50%;*/
}

.equipo_de_trabajo {
    width: 20%;
    border: solid 3px white;
}